<simple-notifications></simple-notifications>

<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">Test CRUD</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-success" (click)="createForm(null)">Добавить</button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
      <th scope="col">Колличество автомобилей</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people;">
      <td>{{person.lastName}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.middleName}}</td>
      <td>{{person.cars.length}}</td>
      <td>
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info mx-2" (click)="createForm(person.id)">Изменить</button>
        <button class="btn btn-danger" (click)="deleteOwner(person.id)">Удалить</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-2 row mt-2 ">
                <label for="inputPassword" class="col-sm-2 col-form-label">Фамилия</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" formControlName="lastName">
                  <div
                    *ngIf="form.get('lastName')?.touched"
                    class="validation"
                    >
                      <p *ngIf="form.get('lastName')?.errors?.required">Поле не может быть пустым</p>

                      <p *ngIf="form.get('lastName')?.errors?.pattern">Введите корректную фамилию</p>
                  </div>
                </div>
              </div>
              <div class="mb-2 row mt-2 ">
                <label for="inputPassword" class="col-sm-2 col-form-label">Имя</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" formControlName="firstName">
                  <div
                    *ngIf="form.get('firstName')?.errors?.required && form.get('firstName')?.touched"
                    class="validation"
                    >
                      <p *ngIf="form.get('firstName')?.errors?.required">Поле не может быть пустым</p>
                      <p *ngIf="form.get('firstName')?.errors?.pattern">Введите корректное имя</p>
                  </div>
                </div>
              </div>
              <div class="mb-2 row mt-2 ">
                <label for="inputPassword" class="col-sm-2 col-form-label">Отчество</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" formControlName="middleName">
                  <div
                    *ngIf="form.get('middleName')?.errors?.required && form.get('middleName')?.touched"
                    class="validation"
                    >
                      <p *ngIf="form.get('middleName')?.errors?.required">Поле не может быть пустым</p>

                      <p *ngIf="form.get('middleName')?.errors?.pattern">Введите корректное отчество</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-body">
            <h5 class="modal-title" id="exampleModalLabel">Автомобили</h5>
            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Номер</th>
                  <th scope="col">Марка</th>
                  <th scope="col">Модель</th>
                  <th scope="col">Год</th>
                </tr>
              </thead>
              <tbody>
                <tr formArrayName="cars" *ngFor="let carFormGroup of carsArray?.controls; let i = index;">
                  <ng-container [formGroupName]="i">
                    <td class="col-xs-2">
                      <input class="form-control" type="text" formControlName="number">
                        <p *ngIf="form.get('number')?.errors?.required">Поле не может быть пустым</p>

                        <p *ngIf="form.get('number')?.errors?.pattern">Введите корректный номер</p>
                    </td>
                    <td class="col-xs-2"><input class="form-control" type="text" formControlName="mark"><div
                      *ngIf="form.get('mark')?.errors?.required && form.get('mark')?.touched"
                      class="validation"
                      >
                        <p *ngIf="form.get('mark')?.errors?.required">Поле не может быть пустым</p>

                        <p *ngIf="form.get('mark')?.errors?.pattern">Введите корректную марку</p>
                    </div></td>
                    <td class="col-xs-2"><input class="form-control" type="text" formControlName="model"><div
                      *ngIf="form.get('model')?.errors?.required && form.get('model')?.touched"
                      class="validation"
                      >
                        <p *ngIf="form.get('model')?.errors?.required">Поле не может быть пустым</p>

                        <p *ngIf="form.get('model')?.errors?.pattern">Введите корректную модель</p>
                    </div></td>
                    <td class="col-xs-2"><input class="form-control" type="text" formControlName="year"><div
                      *ngIf="form.get('year')?.errors?.required && form.get('year')?.touched"
                      class="validation"
                      >
                        <p *ngIf="form.get('year')?.errors?.required">Поле не может быть пустым</p>

                        <p *ngIf="form.get('year')?.errors?.pattern">Введите корректный год</p>
                    </div></td>
                    <td>
                      <button class="btn btn-danger" (click)="deleteCarControl(i)">У</button>
                    </td>
                  </ng-container>

                </tr>
              </tbody>
            </table>
            <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCarControl(); $event.preventDefault();">Добавить автомобиль</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
            <button [disabled]="form.invalid" type="submit" class="btn btn-info" [disabled]="form.invalid">Сохранить</button>
          </div>
      </div>
    </div>
</form>
</div>
